<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="TabloName" value="Академия имени Валерия Харламова"/>
    <add key="LeftTeamName" value="Хозяева"/>
    <add key="RightTeamName" value="Гости"/>
    
    <!--Цвет цифр большого экрана, стандартный #FFFFFF-->
    <add key="BigWindowColorNumbers" value="#FFFFFF"/>
    
    <!--Цвет букв большого экрана, стандартный #FF4500-->
    <add key="BigWindowColorText" value="#FF4500"/>
    
    <!-- Цвет таймера периода малого экрана, стандартный #06d12b-->
    <add key="SmallWindowColorPeriod" value="#06d12b"/>
    
    <!--Цвет общей информации малого экрана, стандартный #FFFFFF-->
    <add key="SmallWindowColorInfo" value="#FFFFFF"/>
    
    <!--Цвет часов малого экрана, стандартный Yellow-->
    <add key="SmallWindowColorClock" value="Yellow"/>
    
  </appSettings>
</configuration>

