<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="TabloName" value="Академия имени Валерия Харламова"/>
    <add key="LeftTeamName" value="Хозяева"/>
    <add key="RightTeamName" value="Гости"/>
    <add key="ColorNumbers" value="#FFFFFF"/>
  </appSettings>
</configuration>