<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="TabloName" value="Академия имени Валерия Харламова"/>
    <add key="LeftTeamName" value="Хозяева"/>
    <add key="RightTeamName" value="Гости"/>
    
    <!--Цвет цифр большого экрана, стандартный #FFFFFF-->
    <add key="BigWindowColorNumbers" value="#FFFFFF"/>
    
    <!--Цвет букв большого экрана, стандартный #FF4500-->
    <add key="BigWindowColorText" value="#FF4500"/>
    
    <!-- Цвет таймера периода малого экрана, стандартный #06d12b-->
    <add key="SmallWindowColorPeriod" value="#06d12b"/>
    
    <!--Цвет общей информации малого экрана, стандартный #FFFFFF-->
    <add key="SmallWindowColorInfo" value="#FFFFFF"/>

    <!--Цвет часов малого экрана, стандартный Yellow-->
    <add key="SmallWindowColorClock" value="Yellow"/>
    
    <!--ip адрес который будет слушать сервер и сокеты-->
    <add key="IpServer" value="127.0.0.10"/>
    
    <!--порт который будет слушать сервер-->
    <add key="PortServer" value="8080"/>
    
    <!--Портс с которго начинася с которого будут слушаться сокеты (если порт 80, то слушаться будут с 80 по 84 вклбючительно)-->
    <add key="PortSockets" value="80"/>

    <!--Название монитора для большого экрана-->
    <add key="BigMonitorScreen" value="PHL 274E5"/>

    <!--Название монитора для малого экрана-->
    <add key="SmallMonitorScreen" value="LG TV"/>

    
    
    <!-- PHL 274E5 LG TV PHL 272V8-->
    
    


  </appSettings>
</configuration>

